

main{
    margin-bottom: 500px;
   

}
#seeAllButton{
display: none;
}

.imghome{

    box-shadow: -10px -10px 15px rgba(0, 0, 0, 0.782);

}
.statstable{     
    margin-left: 10vh;
    margin-right: 10vh;
    margin-top: 3.5em;
    border-collapse: collapse;
}

.statstable td{
    padding: 0.5em;
    border: 1.5px;
    border-style: solid;
    border-color: rgba(142, 142, 142, 0.7);

}
.statstable tr{    
    padding: 0.5em;
    border: 1.5px;
    border-style: solid;
    border-color: rgba(142, 142, 142, 0.7);

}
.statstable th{
    background-color:rgba(142, 142, 142, 0.7); ;
}
.statstable td{
    min-height: 1em;
}


body{
    overflow-x: hidden;
 }






@media only screen and (max-width:746px)
{
    .detailBox{
        display: flex;
    flex-direction: column;
    justify-content:center;
    height: max-content;
    width: 90%;
   
        
    }
    .detailBox img{
    object-fit: cover;
    width: 100%;
    height: auto;

    }
    .detailBox div{
        padding-top: 2em;
       

    }
    .statstable{ 
        
        margin-left: 1vh;
        margin-right: 1vh;
        margin-top: 3.5em;
        border-collapse: collapse;
    }
}

@media only screen and (min-width:747px) and (max-width:949px) {

  
    .detailBox{
    
        display: flex;
        flex-direction: column;
        justify-content:center;    
        border: 1.5px;
        border-style: solid;
        border-color: rgba(142, 142, 142, 0.7);
        margin-top: 3.5em; 
        margin-left: 3.5em;
        margin-right: 3.5em;       
        
    }
    
    .detailBox img{   
        box-shadow: -10px -10px 15px black;
        margin: 1em;
        object-fit: cover;
        max-width: 600px;
        max-height: 330px;
    
        /*display: inline-flex;*/
    
    }
    .detailBox div{
        margin: 1.5em;
        padding: 1.5em;
        border: 1.5px;
        border-style: solid;
        border-color: rgba(142, 142, 142, 0.7);
        
        display: flex;
        justify-content:center;
        flex-direction: column;
        align-items: center;  
    
    }
    .container1{
        width: 100%;
        margin-left: 1%;
        margin-right: 10%;
        display: flex;
        justify-content:center; 
        flex-wrap: wrap;
    }
    
    .cardHome{
        width: 296px;
             height: 427px; 
    
    }
    .cardHome .card-body .card-text{
        overflow: hidden;
    }
    
    
    }


    @media only screen  and (min-width:950px) and (max-width: 1349px) {

        .detailBox{
    
            display: flex;
            
            flex-direction: row;
            justify-content:center;    
            border: 1.5px;
            border-style: solid;
            border-color: rgba(142, 142, 142, 0.7);
            margin-top: 5em;
            
        
            
        }
        
        .detailBox img{   
            box-shadow: -10px -10px 15px black;
            object-fit: cover;
            width: 390px;
            height: 390px;
        
            /*display: inline-flex;*/
        
        }
        .detailBox div{
            
            margin: 1em;
            border: 1px;
            padding: 1em;
            border-style: solid;
            border-color: rgba(142, 142, 142, 0.7);
            display: flex;
            justify-content:center;
            flex-direction: column;
            align-items: center;  
            
        width: 400px;
        height: 400px;
        
        }


        


        
    .container1{
        width: 100%;
        margin-left: 1%;
        margin-right: 10%;
        display: flex;
        justify-content:center; 
        flex-wrap: wrap;
    }
    
    .cardHome{
        width: 296px;
             height: 427px; 
    
    }
    .cardHome .card-body .card-text{
        overflow: hidden;
    }
    

    }


@media only screen and (min-width:1350px) {
        
    
    .detailBox{
    
        display: flex;
        
        flex-direction: row;
        justify-content:center;    
        border: 1.5px;
        border-style: solid;
        border-color: rgba(142, 142, 142, 0.7);
        margin-top: 5em;
        
    
        
    }
    
    .detailBox img{   
        box-shadow: -10px -10px 15px black;
        object-fit: cover;
        width: 490px;
        height: 490px;
    
        /*display: inline-flex;*/
    
    }
    .detailBox div{
        
        margin: 1em;
        border: 1px;
        padding: 1em;
        border-style: solid;
        border-color: rgba(142, 142, 142, 0.7);
        display: flex;
        justify-content:center;
        flex-direction: column;
        align-items: center;  
        
    width: 500px;
    height: 500px;
    
    }

    .container1{
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
        margin-left: 1%;
        margin-right: 10%;
        display: flex;
        justify-content:center; 
        
        flex-wrap: wrap;
    }
  
    .cardHome{
        width: 296px;
             height: 427px; 
    
    }

    .cardHome img{
        height:200 ;
        width: 260git;
    }
    .cardHome .card-body .card-text{
        overflow: hidden;
    }
    
    
  
}




 
